<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="author" content="YooKits" />
  <!-- Page Title -->
  <title><%= config.mainTitle %> | <%= config.pages.main.title %></title>
  <!-- Favicon Icon -->
  <link rel="icon" href="assets/img/favicon.png" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/jqvmap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/iDashboard.css" />
  <link rel="stylesheet" href="assets/css/toastr.min.css" />
</head>

<body>
  <div class="yoo-height-b60 yoo-height-lg-b60"></div>
  <header class="yoo-header yoo-style1 yoo-sticky-menu">
    <div class="yoo-main-header">
      <div class="yoo-main-header-in">
        <div class="yoo-main-header-left">
          <a href="<%= config.pages.main.path %>" class="yoo-logo-link yoo-light-logo">
            <h3 style="color: white; margin: 0;"><%= config.mainTitle %></h3>
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- .yoo-header -->
  <div class="yoo-sidebarheader-toggle">
    <div class="yoo-button-bar1"></div>
    <div class="yoo-button-bar2"></div>
    <div class="yoo-button-bar3"></div>
  </div>
  <!-- .yoo-sidebarheader-toggle -->
  <div class="yoo-sidebarheader">
    <div class="yoo-sidebarheader-in" data-scrollbar>
      <div class="yoo-sidebar-nav">
        <ul class="yoo-sidebar-nav-list yoo-mp0">
          <li class="active">
            <a href="<%= config.pages.main.path %>" class="page">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1">
                  <ion-icon name="layers"></ion-icon>
                </span>
                <span class="yoo-sidebar-link-text"><%= config.pages.main.title %></span>
              </span>
            </a>
          </li>
          <li>
            <a href="<%= config.pages.createNew.path %>" class="page">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1">
                  <ion-icon name="create-outline"></ion-icon>
                </span>
                <span class="yoo-sidebar-link-text"><%= config.pages.createNew.title %></span>
              </span>
            </a>
          </li>
        </ul>
        <!-- .yoo-sidebar-nav-list -->
      </div>
    </div>
  </div>

  <div class="yoo-content yoo-style1">
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
      <div class="yoo-uikits-heading">
        <h2 class="yoo-uikits-title">Dashboard</h2>
      </div>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-sm-6">
          <div class="<%= config.pages.main.body.initialCards.modules.style.class %>">
            <div class="yoo-iconbox-in">
              <div class="yoo-iconbox-title"><%= config.pages.main.body.initialCards.modules.title %></div>
              <div class="yoo-iconbox-number"><%= data.modules.length %></div>
              <!-- <div class="yoo-iconbox-footer"><span class="yoo-iconbox-percentage"><ion-icon name="caret-up"></ion-icon>17%</span>Since last week</div> -->
              <div class="yoo-iconbox-icon">
                <ion-icon name="<%= config.pages.main.body.initialCards.modules.style.icon %>"></ion-icon>
              </div>
            </div>
          </div>
          <div class="yoo-height-b30 yoo-height-lg-b30"></div>
        </div>
        <div class="col-xl-6 col-sm-6">
          <div class="<%= config.pages.main.body.initialCards.virtualhosts.style.class %>">
            <div class="yoo-iconbox-in">
              <div class="yoo-iconbox-title"><%= config.pages.main.body.initialCards.virtualhosts.title %></div>
              <div class="yoo-iconbox-number"><%= data.virtualhosts.length %></div>
              <div class="yoo-iconbox-icon">
                <ion-icon name="<%= config.pages.main.body.initialCards.virtualhosts.style.icon %>"></ion-icon>
              </div>
            </div>
          </div>
          <div class="yoo-height-b30 yoo-height-lg-b30"></div>
        </div>
        <!-- .col -->
        <div class="col-xl-12 col-sm-12">
          <div class="<%= config.pages.main.body.initialCards.status.style.class %>">
            <div class="yoo-iconbox-in">
              <div class="yoo-iconbox-title"><%= config.pages.main.body.initialCards.status.title %></div>
              <div class="yoo-iconbox-number" style="font-size: 20px;">
                <%= data.status || '-' %>
              </div>
              <div class="yoo-iconbox-footer">
                <button type="button" ripple="ripple" ripple-color="#fff"
                  class="<%= config.pages.main.body.initialCards.status.body.reloadApache2BTN.style.class %>"
                  onclick="reloadApache()">
                  <ion-icon name="<%= config.pages.main.body.initialCards.status.body.reloadApache2BTN.style.icon %>">
                  </ion-icon> <%= config.pages.main.body.initialCards.status.body.reloadApache2BTN.title %>
                </button>
              </div>
              <div class="yoo-iconbox-icon">
                <ion-icon name="<%= config.pages.main.body.initialCards.status.style.icon %>"></ion-icon>
              </div>
            </div>
          </div>
          <div class="yoo-height-b30 yoo-height-lg-b30"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">
                  <span class="yoo-card-title-icon yoo-purple-bg">
                    <ion-icon name="<%= config.pages.main.body.bigCards.loadedModules.style.icon %>" role="img"
                      class="md hydrated" aria-label="<%= config.pages.main.body.bigCards.loadedModules.style.icon %>">
                    </ion-icon>
                  </span><%= config.pages.main.body.bigCards.loadedModules.title %>
                </h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-20">
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <ul class="<%= config.pages.main.body.bigCards.loadedModules.style.class %>">
                  <% for(var i = 0; i < data.modules.length; i++) { %> <% const
                    badge = data.modules[i].match(/\(([^)]+)\)/)[1] %>
                  <li>
                    <div class="<%= config.pages.main.body.bigCards.loadedModules.body.items.style.class %>">
                      <div class="yoo-media-img">
                        <div class="yoo-box-md yoo-radious10 yoo-img-box yoo-purple-box">
                          <img src="<%= config.pages.main.body.bigCards.loadedModules.body.items.style.img.path %>"
                            alt="<%= config.pages.main.body.bigCards.loadedModules.body.items.style.img.alt %>" />
                        </div>
                      </div>
                      <div class="yoo-media-meta">
                        <div class="yoo-height-b5 yoo-height-lg-b5"></div>
                        <h2 class="yoo-media-title yoo-margin-bottom-0 yoo-margin-top-2">
                          <%= data.modules[i].replace(` (${badge})`, "") %>
                        </h2>
                        <!-- <div class="yoo-media-subtitle">dc@gmail.com</div> -->
                      </div>
                      <span class="badge badge-success"><%= badge %></span>
                    </div>
                  </li>
                  <% } %>
                </ul>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
              </div>
            </div>
          </div>
          <!-- .yoo-card -->
          <div class="yoo-height-b30 yoo-height-lg-b30"></div>
        </div>
        <div class="col-lg-8">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
              <div class="yoo-card-heading-left">
                <h2 class="yoo-card-title">
                  <span class="yoo-card-title-icon yoo-green-bg">
                    <ion-icon name="<%= config.pages.main.body.bigCards.virtualhosts.style.icon %>"></ion-icon>
                  </span><%= config.pages.main.body.bigCards.virtualhosts.title %>
                </h2>
              </div>
            </div>
            <div class="yoo-card-body">
              <div class="yoo-padd-lr-20">
                <div class="yoo-sidebar-search">
                  <form action="#" class="yoo-search yoo-style1 yoo-search-md">
                    <input type="text"
                      placeholder="<%= config.pages.main.body.bigCards.virtualhosts.body.search.placeholder %>"
                      class="yoo-search-input" onkeyup="searchVH(this)" />
                    <button class="yoo-search-submit">
                      <ion-icon name="<%= config.pages.main.body.bigCards.virtualhosts.body.search.icon %>" role="img"
                        class="md hydrated"
                        aria-label="<%= config.pages.main.body.bigCards.virtualhosts.body.search.icon %>"></ion-icon>
                    </button>
                  </form>
                </div>
                <div style="
                      display: flex;
                      justify-content: space-around;
                      padding-top: 10px;
                    ">
                  <button type="button" href="<%= config.pages.createNew.path %>" ripple="ripple" ripple-color="#fff"
                    class="<%= config.pages.main.body.bigCards.virtualhosts.body.createVHBTN.style.class %>">
                    <%= config.pages.main.body.bigCards.virtualhosts.body.createVHBTN.title %>
                  </button>
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>

                <ul class="yoo-list-group yoo-style1 yoo-mp0" id="virtualhost_list">
                  <% for(var i = 0; i < data.virtualhosts.length; i++) { %>
                  <li>
                    <div class="<%= config.pages.main.body.bigCards.virtualhosts.body.items.style.class %>">
                      <div class="yoo-media-img">
                        <img src="<%= config.pages.main.body.bigCards.virtualhosts.body.items.style.img.path %>"
                          alt="Virtualhost image" />
                      </div>
                      <div class="yoo-media-meta">
                        <h2 class="yoo-media-title yoo-margin-bottom-0">
                          <%= data.virtualhosts[i].domain %>
                        </h2>
                        <div class="yoo-media-subtitle">
                          <%= data.virtualhosts[i].vhConfigPath %>
                        </div>
                      </div>
                      <div style="display: flex; justify-content: space-around; padding: 5px;">
                        <button type="button" ripple="ripple" ripple-color="#fff"
                          class="<%= config.pages.main.body.bigCards.virtualhosts.body.items.disableBTN.style.class %>"
                          onclick="disableVH('<%= data.virtualhosts[i].fileName %>')">
                          <%= config.pages.main.body.bigCards.virtualhosts.body.items.disableBTN.title %>
                        </button>
                        <button type="button" ripple="ripple" ripple-color="#fff"
                          class="<%= config.pages.main.body.bigCards.virtualhosts.body.items.displayBTN.style.class %>"
                          onclick="displayVHContent('<%= data.virtualhosts[i].fileName %>')">
                          <%= config.pages.main.body.bigCards.virtualhosts.body.items.displayBTN.title %>
                        </button>
                      </div>
                      <span class="yoo-media-tag"><%= data.virtualhosts[i].port %></span>
                    </div>
                  </li>
                  <% } %>
                </ul>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
              </div>
            </div>
          </div>
          <!-- .yoo-card -->
          <div class="yoo-height-b30 yoo-height-lg-b30"></div>
        </div>
      </div>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <footer class="yoo-footer yoo-style1">
      <div class="container-fluid">
        <div class="yoo-footer-content">
          <div class="yoo-copyride">
            Made with coffee &amp; love by
            <a href="https://nullx.me/" target="_blank">nullx</a> ©All rights
            reserved.
          </div>

        </div>
      </div>
    </footer>
  </div>
  <!-- .yoo-content -->

  <!-- Required Scripts -->
  <script src="assets/js/jquery-1.12.4.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/iDashboard.js?v=0.06"></script>
  <script src="assets/js/ionicons/ionicons.js"></script>
  <script src="assets/js/toastr.min.js"></script>
  <script src="assets/js/iApache2.js"></script>
  <script>
    var errors = <%- JSON.stringify(data.err) %>;
    var warns = <%- JSON.stringify(data.warn) %>;
    if (errors.length > 0) {
      for (let i = 0; i < errors.length; i++) {
        const error = errors[i];
        if (error && error.length > 0) toastr.error(error)
      }
    }
    if (warns.length > 0) {
      for (let i = 0; i < warns.length; i++) {
        const warn = warns[i];
        if (warn && warn.length > 0) toastr.warning(warn)
      }
    }
    function searchVH(input) {
      var input, filter, ul, li, domain, i, txtValue;
      filter = input.value.toUpperCase();
      ul = document.getElementById("virtualhost_list");
      li = ul.children;
      for (i = 0; i < li.length; i++) {
        domain = li[i].getElementsByClassName("yoo-media-title yoo-margin-bottom-0")[0];
        domainValue = domain.textContent || domain.innerText;
        if (domainValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    function disableVH(fileName) {
      var http = new XMLHttpRequest();
      var url = '<%= config.endpoints.disableVH.path %>';
      var params = `fileName=${fileName}`;
      http.open('<%= config.endpoints.disableVH.method %>', url, true);

      http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

      http.onreadystatechange = function () {//Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          proccessOutput(JSON.parse(http.responseText))
        }
      }
      http.send(params);
    }
    function displayVHContent(vhName) {
      var http = new XMLHttpRequest();
      var url = '<%= config.endpoints.readVH.path %>';
      var params = `vhName=${vhName}`;
      http.open('<%= config.endpoints.readVH.method %>', url, true);

      http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

      http.onreadystatechange = function () {//Call a function when the state changes.
        if (http.readyState == 4 && http.status == 200) {
          const parsed = JSON.parse(http.responseText);
          if (parsed.code == 0) {
            proccessOutput(parsed);
          } else {
            const card = document.createElement('div');
            card.classList.add("card", "border-primary", "mb-3", "border-card");

            const cardHeader = document.createElement('div');
            cardHeader.classList.add("card-header");
            cardHeader.textContent = vhName;

            const cardBody = document.createElement('div');
            cardBody.classList.add("card-body");

            const content = document.createElement('pre');
            content.style.fontFamily = 'Courier';
            content.textContent = parsed.data;
            cardBody.appendChild(content);
            card.appendChild(cardHeader);
            card.appendChild(cardBody);
            createModal(card);
          }

        }
      }
      http.send(params);
    }
    function createModal(content, modalId) {
      const id = modalId || "modal";
      const modal = document.createElement('div');
      modal.classList.add("modal", "fade", "bd-example-modal-lg")
      modal.setAttribute("tabindex", "-1");
      modal.setAttribute("role", "dialog");
      modal.setAttribute("aria-hidden", "true");
      modal.setAttribute("id", id)

      const modalChild = document.createElement('div');
      modalChild.classList.add("modal-dialog", "modal-lg");

      const modalContent = document.createElement('div');
      modalContent.classList.add("modal-content");

      const modalHeader = document.createElement('div');
      modalHeader.classList.add("modal-header");

      const modalHeaderTitle = document.createElement('h5');
      modalHeaderTitle.classList.add("modal-title");
      modalHeaderTitle.textContent = "<%= config.pages.main.body.displayContentModal.modalTitle %>"

      const closeBtn = document.createElement('button');
      closeBtn.type = "button";
      closeBtn.classList.add("close");
      closeBtn.setAttribute("data-dismiss", "modal");
      closeBtn.setAttribute("aria-label", "Close");

      const closeIcon = document.createElement("ion-icon");
      closeIcon.setAttribute("name", "close");
      closeIcon.setAttribute("role", "img");
      closeIcon.classList.add("md", "hydrated");
      closeIcon.setAttribute("aria-label", "close");



      const modalBody = document.createElement('div');
      modalBody.classList.add("modal-body");
      modalBody.appendChild(content)

      const modalFooter = document.createElement('div');
      modalFooter.classList.add("modal-footer");
      modalFooter.appendChild(closeBtn);

      closeBtn.appendChild(closeIcon);

      modalHeader.appendChild(modalHeaderTitle);

      modalHeader.appendChild(closeBtn);


      modalContent.appendChild(modalHeader);

      modalContent.appendChild(modalBody);
      modalContent.appendChild(modalFooter);

      modalChild.appendChild(modalContent);
      modal.appendChild(modalChild);
      $("body")[0].appendChild(modal);
      $(`#${id}`).modal()
      $(`#${id}`).on('hidden.bs.modal', function () {

        $(`#${id}`).remove()
      })

    }
    function proccessOutput(obj) {
      if (obj.err) {
        toastr.error(obj.err)
      } else if (obj.code == 0 && obj.msg) {
        toastr.success(obj.msg)
      } else if (obj.msg) {
        toastr.info(obj.msg)
      }
    }

    function reloadApache() {
      var http = new XMLHttpRequest();
      var url = '<%= config.endpoints.reloadApache2.path %>';
      http.open('<%= config.endpoints.reloadApache2.method %>', url, true);

      http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      http.onreadystatechange = function () {//Call a function when the state changes.
        if (http.readyState == 4) {
          if (http.status == 200) {
            proccessOutput(JSON.parse(http.responseText))
          } else {
            toastr.info("<%= config.pages.main.body.alertMessages.apache2Reloading %>")
          }
        }

      }
      http.send();
    }
  </script>
</body>

</html>